In [2]:
import pandas as pd;
import numpy as np;

In [3]:
data = pd.read_csv("../Datasets/StudentsPerformance.csv")

In [4]:
data.isnull().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                      9
reading score                  10
writing score                  13
dtype: int64

In [5]:
scores = ['math score' , 'reading score' , 'writing score']
for score in scores:
    data[score].fillna(data[score].mean() , inplace = True)

In [6]:
data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [7]:
# taking Gender as a categorical variable and grouping math score based on it.

summary_stats = data.groupby("gender")['math score'].agg(["mean" , "median" , "min" , "max" , "std"])

summary_stats

             mean  median   min    max        std
gender
female  63.968399    65.0   8.0  100.0  14.998044
male    69.029125    69.0  28.0  100.0  13.964478

In [8]:

# taking Race as categorical variable and scores as indepedent variable

scores = ['math score' ,  'reading score' , 'writing score']
for score in scores:
    summary_stats = data.groupby('race/ethnicity')[score].agg(['mean' , 'median' , 'max' , 'min' , 'std'])
    print("---- " , score , " ----") 
    print(summary_stats)
    print("\n")

----  math score  ----
                     mean  median    max   min        std
race/ethnicity
group A         61.629213    61.0  100.0  28.0  14.523008
group B         63.707409    63.5   97.0   8.0  15.110095
group C         64.887846    65.0   98.0  22.0  14.163459
group D         67.687874    69.0  100.0  26.0  13.371652
group E         74.177252    74.5  100.0  32.0  15.001412


----  reading score  ----
                     mean  median    max   min        std
race/ethnicity
group A         64.948610    64.0  100.0  23.0  15.407479
group B         67.591717    67.0   97.0  24.0  14.845120
group C         69.461227    71.0  100.0  28.0  13.504722
group D         70.243712    71.0  100.0  31.0  13.667381
group E         73.153045    74.0  100.0  26.0  14.769328


----  writing score  ----
                     mean     median    max   min        std
race/ethnicity
group A         63.548205  64.000000   97.0  19.0  15.032280
group B         65.623132  67.000000   96.0  15.0  15.477356
group C         67.967995  68.197568  100.0  10.0  14.821244
group D         70.208369  72.000000  100.0  32.0  14.281297
group E         71.407143  72.000000  100.0  22.0  15.113906

In [9]:
data2 = pd.read_csv("../Datasets/Iris.csv")

In [10]:
data2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
data2.shape

(150, 6)

In [15]:
id_intervals = [0 , 50 , 100 , 150]
id_label = ['0 - 50' , '51 - 100' , '101 - 150' ]

data2['id_group'] = pd.cut(data2['Id'] , bins = id_intervals , labels = id_label , right = False)

summary_stats = data2.groupby("id_group")['SepalLengthCm'].agg(['mean' , 'median' , 'min' , 'max' , 'std'])

summary_stats

               mean  median  min  max       std
id_group
0 - 50     5.006122     5.0  4.3  5.8  0.356141
51 - 100   5.922000     5.9  4.9  7.0  0.531954
101 - 150  6.584000     6.5  4.9  7.9  0.640905