In [45]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix , accuracy_score , precision_score , recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

print("All Libraries and methods imported")

All Libraries and methods imported

In [46]:
data = pd.read_csv("../Datasets/Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [47]:
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])

In [48]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [49]:
X = data.drop('Purchased' , axis = 1)
y = data['Purchased']

In [50]:
X_train , X_test , y_train , y_test = train_test_split(X , y ,train_size=0.8 , random_state=42)

In [51]:
model = LogisticRegression()

model.fit(X_train , y_train)

y_pred = model.predict(X_test)

y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0])

In [52]:
print("confusion_matrix : ")
confusion = confusion_matrix(y_pred , y_test)

confusion_matrix :

In [53]:
print("accuracy_score : " , accuracy_score(y_test , y_pred))
print("precision_score : ", precision_score(y_test , y_pred))
print("recall_score : " , recall_score(y_test , y_pred))
print("error_score : " ,1 - accuracy_score(y_test , y_pred))

accuracy_score :  0.7375
precision_score :  0.7692307692307693
recall_score :  0.35714285714285715
error_score :  0.26249999999999996

In [54]:
tn, fp, fn, tp = confusion.ravel()

print("True Negetive : " , tn)
print("false positve : " , fp)
print("false Negetive : " , fn)
print("True positive : " , tp)

True Negetive :  49
false positve :  18
false Negetive :  3
True positive :  10

In [55]:
# test_variable = {
#     "User ID" : [15624510],
#     "Gender" : [1],
#     "Age" : [19],
#     "EstimatedSalary" : [19000],
# }

# testDF = pd.DataFrame(test_variable)

In [56]:
# test = model.predict(testDF)

In [57]:
# test